#map {
 width: 100%;
 min-height: 300px;
}
#ajaxLoader{
    display:none;
    width:2rem;
    height:2rem;
}
.warning{
    color:red;
    border:2px solid red;    
}
/*input:required {
    background-color: green;
}*/